<div class="header-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-4">
        <div>
          <%= link_to(root_path) do %>
            <figure id="logo" class="columns six logo" data-hook><%= logo %></figure>
          <% end %>
        </div>
      </div>

      <div class="col-md-6 col-sm-4  col-xs-2 text-center">
        <div class="main-menu display-inline">
          <nav class="columns sixteen">
            <ul id="main-nav-bar" class="menu inline" data-hook>
              <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
              <li><%= link_to 'ABOUT US', about_path %></li>
              <li><%= link_to 'Produtos', products_path %></li>
              <li><a href="#">Categorias<i class="pe-7s-angle-down"></i></a>
                <ul>
                  <% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
                  <% store_taxonomies.each do |taxonomy| %>
                    <% cache [I18n.locale, taxonomy, max_level] do %>
                      <li class="dropdown">
                        <a href="#" class='dropdown-toggle taxonomy-root' data-toggle="dropdown"><%= Spree.t(:shop_by_taxonomy, taxonomy: taxonomy.name) %></a>
                        <%= nav_bar_taxons_tree(taxonomy.root, @taxon, max_level) %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </li>
              <li><a href="#">BLOG <i class="pe-7s-angle-down"></i></a>
                <ul>
                  <li><a href="#">blog 2 column</a></li>
                  <li><a href="#">blog full wide</a></li>
                  <li><a href="#">blog details</a></li>
                </ul>
              </li>
              <li><%= link_to 'CONTACT', contact_path %></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 text-right text-sm text-res">
        <div class="cart-user-language">
          <div class="shopping-cart ml-30 display-inline">
            <a class="top-cart" href="#"><i class="pe-7s-cart"></i></a>
            <ul>
              <li>
                <div class="cart-img">
                  <a href="#"><%= logo %></a>
                </div>
                <div class="cart-content">
                  <h3><a href="#"> 1 X Faded...</a> </h3>
                  <span><b>S, Orange</b></span>
                  <span class="cart-price">£ 16.84</span>
                </div>
                <div class="cart-del">
                  <i class="pe-7s-close-circle"></i>
                </div>
              </li>
              <li>
                <div class="cart-img">
                  <a href="#"><%= logo %></a>
                </div>
                <div class="cart-content">
                  <h3><a href="#"> 1 X Faded...</a> </h3>
                  <span><b>S, Green</b></span>
                  <span class="cart-price">£ 222.84</span>
                </div>
                <div class="cart-del">
                  <i class="pe-7s-close-circle"></i>
                </div>
              </li>
              <li>
                <div class="shipping">
                  <span class="f-left">Shipping </span>
                  <span class="f-right cart-price"> $17.00</span>
                </div>
                <hr class="shipping-border" />
                <div class="shipping">
                  <span class="f-left"> Total </span>
                  <span class="f-right cart-price">$692.00</span>
                  <!-- <li id="link-to-cart" class="top-cart" data-hook>
                  </li>
                  <script>Spree.fetch_cart('<%= j spree.cart_link_path %>')</script> -->
                </div>
              </li>
              <li class="checkout m-0">
                <%= link_to(spree.cart_path) do %>
                  Checkout <i class="pe-7s-angle-right"></i>
                <% end %>
              </li>
            </ul>
          </div>
            <% if spree_current_user %>
              <div class="user dropdown"><a class='dropdown-toggle' data-toggle="dropdown"><i class="pe-7s-add-user"></i></a/>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to 'Minha conta', account_path %>
                  </li>
                  <li>
                    <%= link_to 'Sair', logout_path %>
                  </li>
                </ul>
              </div>
              <% else %>
              <div class="user">
                <%= link_to(login_path) do %>
                  <i class="pe-7s-add-user"></i>
                <% end %>
              </div>
            <% end %>
          <div class="search-block-top display-inline">
            <div class="icon-search">
              <a href="#"><i class="pe-7s-search"></i></a>
            </div>
            <div class="toogle-content">
            <%= render partial: 'spree/shared/search' %>
            </div>
          </div>
        </div>
      </div>

      <div class="mobile-menu"></div>
    </div>
  </div>
</div>
