<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:total_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>

<div data-hook="products_search_results_heading">
  <% if products.empty? %>
    <div data-hook="products_search_results_heading_no_results_found">
      <%= Spree.t(:no_products_found) %>
    </div>
  <% elsif params.key?(:keywords) %>
    <div data-hook="products_search_results_heading_results_found">
      <h6 class="search-results-title"><%= Spree.t(:search_results, keywords: h(params[:keywords])) %></h6>
    </div>
  <% end %>
</div>
<% if products.any? %>
<div id="products" class="shop-area ptb-90" data-hook>
  <div class="container-fluid">
    <div class="section-title text-center">
      <h3>Featured Collections</h3>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
    </div>
    <div class="shop-style-all">
      <div class="row">
        <div class="grid">
            <% products.each do |product| %>
              <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <% cache(@taxon.present? ? [I18n.locale, current_pricing_options, @taxon, product] : [I18n.locale, current_pricing_options, product]) do %>
                  <div class="shop hover-style mb-30">
                    <div class="shop-img">
                      <div class="shop-single-img">
                        <%= link_to image_tag(product.display_image.attachment(:small), itemprop: "image"), url, itemprop: 'url' %>
                        <div class="product-cart-3">
                            <a href="#"><i class="pe-7s-cart"></i></a>
                            <a href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-look"></i></a>
                        </div>
                      </div>
                      <div class="title-style-3 text-center">
                          <h3><%= link_to truncate(product.name, length: 50), url, class: 'info', itemprop: "name", title: product.name %></h3>
                          <span class="new-price price selling" itemprop="price"><%= display_price(product) %></span>
                          <span class="old-price">$70</span>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
            <% reset_cycle("classes") %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if paginated_products.respond_to?(:total_pages) %>
  <%= paginate paginated_products %>
<% end %>

<div class="blog-area pb-70">
  <div class="container-fluid">
    <div class="section-title text-center mb-50">
      <h3>Latest Products</h3>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="single-blog mb-30">
          <a href="blog-details.html">
              <%= image_tag "blog-1.jpg" %>
          </a>
          <div class="blog-title">
            <span>December 8, 2017</span>
            <h3><a href="blog-details.html">Lorem Ipsum is simply dummy</a></h3>
            <a href="blog-details.html">read more</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="single-blog mb-30">
          <a href="blog-details.html">
            <%= image_tag "blog-2.jpg" %>
          </a>
          <div class="blog-title">
            <span>December 8, 2017</span>
            <h3><a href="blog-details.html">Lorem Ipsum is simply dummy</a></h3>
            <a href="blog-details.html">read more</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="single-blog mb-30">
          <a href="blog-details.html">
              <%= image_tag "blog-5.jpg" %>
          </a>
          <div class="blog-title">
            <span>December 8, 2017</span>
            <h3><a href="blog-details.html">Lorem Ipsum is simply dummy</a></h3>
            <a href="blog-details.html">read more</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="single-blog mb-30">
          <a href="blog-details.html">
            <%= image_tag "blog-3.jpg" %>
          </a>
          <div class="blog-title">
            <span>December 8, 2017</span>
            <h3><a href="blog-details.html">Lorem Ipsum is simply dummy</a></h3>
            <a href="blog-details.html">read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
