<div class="slider-area text-center">
  <div class="container-fluid">
    <div class="slider-active">
      <div class="single-slider slider-opacity ptb-250" style="background-image: url(<%= asset_path('bg-2.jpg') %>);">
        <div class="slider-text">
          <h2>Summer Collection 2017 </h2>
          <h3>A good looking, comfortable traditional collection</h3>
          <%= link_to 'Shop The Collection', products_path %>
        </div>
      </div>
      <div class="single-slider slider-opacity ptb-250" style="background-image: url(<%= asset_path('bg-1.jpg') %>);">
        <div class="slider-text">
          <h2>Top Collection 2017</h2>
          <h3>A good looking, comfortable traditional collection</h3>
          <%= link_to 'Shop The Collection', products_path %>
        </div>
      </div>
      <div class="single-slider slider-opacity ptb-250" style="background-image: url(<%= asset_path('bg-3.jpg') %>);">
        <div class="slider-text">
          <h2>Auttum Collection 2017</h2>
          <h3>A good looking, comfortable traditional collection</h3>
          <%= link_to 'Shop The Collection', products_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <%= render partial: 'spree/shared/products', locals: { products: @products } %>
  <% end %>
</div>
